@import "tailwindcss";

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }

  button {
    cursor: pointer;
  }

  h1, h2, h3 {
    @apply font-semibold text-gray-800;
  }

  .anchor-hover {
    @apply border-b border-dotted border-y-gray-300 hover:border-b hover:border-solid hover:border-gray-400;
  }

}

 @layer utilities {

  .hover\:text-primary:hover {
    color: #3238f2;
  }
}

#black-box {
  background: url(./assets/blkbg.png);
}
